/* Profile.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
  }
  .container1{
    display: flex;
  }
  nav{
    position: relative;
    top: 0;
    bottom: 0;
    height: 96vh;
    left: 0;
    background: #fff;
    width: 280px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }
  .main{
    position: relative;
    padding: 20px;
    width: 100%;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 96vh; /* Set maximum height for scrolling */
  }
  
  .personaldetails{
    margin-top: 2%;
  }

  .personaldetails, .academicdetails, .projects, .achievementsandcertificates {
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    padding: 20px;
    padding-left: 50px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    width: 1000%;
    margin-left: 6%;
    line-height: 2;
  }
  
  .personaldetails li,
  .academicdetails li {
    font-size: 15px;
  }
  
  .achievementsandcertificates dt,
  .projects dt {
    font-size: 18px;
  }
  
  .achievementsandcertificates dd,
  .projects dd {
    font-size: 15px;
  }
  